* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table, th, td {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tr:nth-child(even) {
    background-color: #bcd085;
  }
  tr:nth-child(odd) {
    background-color: #a6fdca;
  }
  
  body {
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 40px 20px 10px;
  }

  #home-nav {
    padding: 5px 5px;
    border-radius: 5px;
    background-color: hsl(173, 96%, 91%);
    color: black;
    font-size: 1.2em;
  }
  .top {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
  }