{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Django Fortune Teller</title>
 <link rel="stylesheet" type="text/css" href="{% static 'randomfortune/styles.css' %}">
</head>

<!-- Body -->
<body>
    <!-- Nav Bar Section -->
    <section>
        <nav class="nav-links">
            <a class="links" href="{% url 'test' %}">Flex Testing</a>
            <a class="links" href="{% url 'test_two' %}">Device Dimensions</a>
        </nav>
    </section>
    <h1 id="greeting">{{greet}}</h1>

    <!-- Button Section -->
    <section class="clicker">
        <h1 id="header">Click to see your fortune → </h1>
          <a href="{% url 'randomfortune' %}">
            <button id="fortune-button">Click</button>
        </a>
    </section>

    <!-- Fortunes Section -->
    <section class="fortune-list">
        <ul>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        <li><p>{{fortune}}</p></li>
        </ul>
    </section>

</body>
</html>
