{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'randomfortune/test_two.css' %}">
</head>
<body>
    <section class="container">
        <section class="left-side zones">
            <div class="lef-divs red pill"><span>Phones</span></div>
            <div class="lef-divs orange pill"><span>Tablets</span></div>
            <div class="lef-divs green pill"><span>Laptops</span></div>
            <div class="lef-divs blue pill"><span>Large</span></div>
        </section>

        <section class="middle-side zones">
            <div class="mid-divs pill"><span class="icons">📱</span></div>
            <div class="mid-divs pill"><span class="icons">⌨️</span></div>
            <div class="mid-divs pill"><span class="icons">💻</span></div>
            <div class="mid-divs pill"><span class="icons">🖥</span></div>
        </section>

        <section class="right-side zones">
            <div class="right-divs red pill"><span>600px</span></div>
            <div class="right-divs orange pill"><span>768px</span></div>
            <div class="right-divs green pill"><span>992px</span></div>
            <div class="right-divs blue pill"><span>1200px</span></div>
        </section>
    </section>
</body>
</html>